name: Deploy

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: environment

jobs:
  deploy:
    name: ${{ inputs.environment }}
    environment:
      name: ${{ inputs.environment }}
      url: ${{ inputs.environment == 'test' && 'https://keycloak-test.robojackets.org' || 'https://keycloak.robojackets.org' }}
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Nomad
        uses: lucasmelin/setup-nomad@v2.0.0

      - name: Set job name
        run: |
          sed -i '/job "keycloak" {/c\job "keycloak-${{ inputs.environment }}" {' keycloak.nomad

      - name: Exchange GitHub JWT for Nomad token
        id: get_token
        uses: RoboJackets/nomad-jwt-auth@main
        with:
          url: https://nomad.bcdc.robojackets.net
          jwtGithubAudience: https://nomad.bcdc.robojackets.net
          methodName: GitHubActions

      - name: Run Nomad job
        env:
          NOMAD_ADDR: https://nomad.bcdc.robojackets.net
        run: |
          nomad run keycloak.nomad

      - name: Wait for service to become healthy
        timeout-minutes: 2
        run: |
          until curl --silent --show-error --fail ${{ inputs.environment == 'test' && 'https://keycloak-test.robojackets.org/realms/master/.well-known/openid-configuration' || 'https://keycloak.robojackets.org/realms/master/.well-known/openid-configuration' }}
          do
            sleep 1
          done
